[*.cs]

# CS5001: Program does not contain a static 'Main' method suitable for an entry point
dotnet_diagnostic.CS5001.severity = none

# IDE0040: Add accessibility modifiers
dotnet_diagnostic.IDE0040.severity = none
